<div class="container">
  <div class="formee">
    
    <h4 style="text-align: center;">IMPRESIÓN DE DOCUMENTOS</h4>
    
    <div class="grid-center"><hr /></div>

    <div class="grid-6-12 clear"></div>
    
    <!-- constancia -->
    <% form_for :escuela, @escuela, :url => { :action => "generar", :controller => "constancia", :id => @escuela }, :html => { :target => "_blank"} do |f| -%>
    <fieldset>
      <div class="grid-center">
        <input type="submit" title="IMPRIMIR CONSTANCIA DE INSCRIPCION" value="IMPRIMIR CONSTANCIA DE INSCRIPCION" />
      </div>
    <%end%>

    <div class="grid-6-12 clear"></div>
    
    <!-- carta compromiso -->
    <% form_for :escuela, @escuela, :url => { :action => "carta_compromiso_basica", :controller => "constancia", :id => @escuela }, :html => { :target => "_blank"} do |f| -%>
      <div class="grid-center">
        <input type="submit" title="IMPRIMIR CARTA COMPROMISO" value="IMPRIMIR CARTA COMPROMISO" />
      </div>
    </fieldset>
    <%end%>
    
  </div>
</div>