<div class="container">
  <div class="formee">

    <h4 style="text-align: center;">IMPRESIÓN DE DOCUMENTOS</h4>


    <fieldset>
    <div class="grid-6-12">
        <label style=" font-weight: bold;">RFC:</label>
        <label style=" font-style: italic;">MOLC8509121S0</label>
    </div>

    <div class="grid-6-12">
        <label style=" font-weight: bold;">CURP:</label>
        <label style=" font-style: italic;">MOLC850912HCSNPR02</label>
    </div>
    </fieldset>

    <div class="grid-12-12 clear"></div>
    <div class="grid-12-12 clear"></div>


    <h4 style="text-align: center;">CLAVES PRESUPUESTALES</h4>


    
      <fieldset>
            <div class="grid-6-12">
              <label style=" font-weight: bold;">PLAZA: </label>
              <label style=" font-style: italic;">076221  E018100.0071505</label>
            </div>

            <div class="grid-6-12">
              <label style=" font-weight: bold;">SUBSISTEMA: </label>
              <label style=" font-style: italic;">FEDERALIZADO</label>
            </div>

            <!-- BOTON DE IMPRESION -->
          <div class="grid-12-12">
            <% form_for :user, @user, :url => { :action => "imprimir", :controller => "carta_compromiso", :id => Plaza.find(1).id }, :html => { :target => "_blank"} do |f| -%>
              <div class="grid-center">
                  <input type="submit" title="IMPRIMIR CARTA COMPROMISO" value="IMPRIMIR CARTA COMPROMISO" />
              </div>
            <%end%>
          </div>
      </fieldset>




    <!-- segunda plaza -->
       <fieldset>
            <div class="grid-6-12">
              <label style=" font-weight: bold;">PLAZA: </label>
              <label style=" font-style: italic;">076229  E148900.0072670</label>
            </div>

            <div class="grid-6-12">
              <label style=" font-weight: bold;">SUBSISTEMA: </label>
              <label style=" font-style: italic;">FEDERALIZADO</label>
            </div>

            <!-- BOTON DE IMPRESION -->
          <div class="grid-12-12">
            <% form_for :user, @user, :url => { :action => "imprimir", :controller => "carta_compromiso", :id => Plaza.find(1).id }, :html => { :target => "_blank"} do |f| -%>
              <div class="grid-center">
                  <input type="submit" title="IMPRIMIR CARTA COMPROMISO" value="IMPRIMIR CARTA COMPROMISO" />
              </div>
            <%end%>
          </div>
      </fieldset>

  </div>
</div>

<br /><br />
<table>
  <tr>
    <td colspan="5" align="center"><%= link_to image_tag("botones/btn_regresar.png", :border =>0) , :controller => "home", :action => "index"%></td>
  </tr>
</table>
