<div class="container">
<% form_for :user, @user, :url => { :action => "forgot", :controller => "users"}, :html => {:class => "formee"} do |f| -%>
      <fieldset>
        <legend>Recuperar contraseña</legend>
            <div class="grid-8-12">
               <label>Correo electrónico:</label>
               <!-- <input type="text" value="Escriba la clave completa" /> -->
               <%=f.text_field :email%>
            </div>
     
           <div class="grid-8-12">
                   <input class="right" type="submit" title="ENVIAR" value="ENVIAR" />
           </div>
        </div>
    </fieldset>
  <%end%>
</div>





<!--

<= error_messages_for :user %>

< form_for :user do |f| -%>
  <p>
    Reset Password Request
  </p>
  <p>
    <label for="email">Email</label><br />
    <= f.text_field :email %>
  </p>
  <p>
    <= link_to "Cancel", login_path %>
    <= submit_tag 'Submit' %>
  </p>
< end -%>

-->