   <tr>
        <td colspan="3"><img src="images/space.png" alt="" width="10" height="10" /></td>
      </tr>
      <tr>
        <td colspan="3"><img src="/images/era/btns_cert/tit_4.png" width="299" height="43" /></td>
      </tr>
      <tr>
        <td colspan="3"><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
      </tr>
      <tr>
        <td colspan="3" align="center">El DIAGNÓSTICO tiene por objeto propiciar la reflexión sobre las actividades que está desarrollando la  escuela y las que podría realizar. Hacer el diagnóstico de manera cuidadosa le permitirá encontrar con mayor facilidad las oportunidades de mejora  y establecer metas en el Proyecto  Ambiental.</td>
      </tr>

      <tr>
        <td colspan="3"><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
      </tr>

      <tr>
        <td colspan="3" align="center">
          RECOMENDACIONES: <br />
Responder a todas las preguntas y apartados
Al finalizar una captura siempre dar click en el botón guardar antes de oprimir el botón siguiente.
        </td>
      </tr>




