<tr>
  <td colspan="3"><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
</tr>
<tr>
  <td colspan="3"><img src="/images/era/btns_cert/tit_1.png" width="299" height="43" /></td>
</tr>
<tr>
  <td colspan="3"><img src="/images/era/space.png" alt="" width="10" height="10" /></td>
</tr>
<tr>
  <td colspan="3" align="center">
    <table width="870" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="Txt_cont_acercade">
          <p>
            La certificación de escuelas saludables y sustentables es un programa que acredita las acciones realizadas por la institución educativa,
            reconoce el trabajo, la experiencia y la suma de esfuerzos en la realización de proyectos desde la institución educativa; que fomentan valores,
            actitudes y prácticas saludables y sustentables, las cuales impacten en su entorno inmediato y los empodere para ejercer una responsabilidad ambiental
            dentro de su comunidad, a través de la implementación  de los cinco ejes prioritarios del proceso de certificación: <strong>Desarrollo de Competencias,
            Entornos Saludables, Huella Ecológica,  Consumo Responsable/Saludable y  Participación Comunitaria. </strong>
          </p>
          <strong>OBJETIVO GENERAL:</strong>
          <p>Reconocer el trabajo, la experiencia y la suma de esfuerzos de las comunidades educativas en la realización de proyectos desde su escuela,
             fomentando valores, actitudes y prácticas saludables y sustentables.</p>
          <strong>COMPONENTES DE LA CERTIFICACIÓN:</strong>
          <p>Para acreditar las acciones realizadas por las instituciones educativas es necesario abordar los tres componentes de la  certificación, los cuales son:</p>
          <p><strong>Ejes rectores:</strong> Son la base del desarrollo de  las competencias para el cuidado y preservación de la salud y medio ambiente.</p>
          <p><strong>Líneas de acción:</strong>  Acciones sustantivas de cada eje. Orientan las actividades a desarrollar para alcanzar los niveles de certificación.</p>
          <p><strong>Indicadores:</strong> Punto de referencia de las líneas de acción.  Permite conocer de manera cuantitativa y cualitativa el logro del impacto o
                                          efectos esperados con respecto al proyecto.</p>
	</td>
      </tr>
    </table>
  </td>
</tr>
